
.homeBg{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("./img/showcase2.jpg") no-repeat center;
  background-size: cover;
  height: 600px;
}


.typeWriter{

  height: 100px;
  font-size: 4.75rem;
  padding-top: 170px;
  color: #fff;
  text-align: center;
}

.projects-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-btns{
  display: flex;
  justify-content: space-around;
}

.contactDetails{
  font-size: 1.75rem;
}

.homeBtn{
  text-decoration: none;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;

}

.bottomLine{
  border-bottom: 4px solid #21487B;
  width: 120px;
  margin: auto;
  margin-bottom: 2rem;
  
}
@media only screen and (max-width: 600px) {
  .typeWriter{

    
    font-size: 2.75rem;
    padding-top: 200px;
  
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects-grid{
    flex-direction: column;
  }

  .tabFont{
    font-size: 0.75rem;
  }

}